.box-principal{
    display: flex;
    background-color: #ffffff;
    align-items: center;
    flex-direction: column;
    border: 1px solid #000000;
    justify-content: space-between;
}

.box-title{
    display: flex;
    background-color: #C4C4C4;
    border: 1px solid #000000;
    width: 100%;
}


.area-mensagens{
    overflow-y: scroll;
    height: 400px;
    width:100%;
    
}

.box-mensagem{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 20px;
}

.box-mensagem-buttons{
    display: flex;
    flex-direction: row;
}

.edit-button{
    background-color: #F6A75D;
    width: 50px;
    height: 26px;
    font-family: Roboto ;
    border: 0px;
}

.delete-button{
    background-color: #F65D5D;
    width: 50px;
    height: 26px;
    font-family: Roboto;
    border: 0px;
}

.box-send{
    display: flex;
    background-color: #C4C4C4;
    flex-direction: row;
    border: 1px solid #000000;
}

.box-send-button{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-right: 10px;
}

.send-button{
    background-color: #0066CC;
    color: #ffffff;
    width: 79px;
    height: 36px;
    border-radius: 10px;
    border: 0px;
}


.item-box{
    padding: 7px;
}

body{
    display: flex;
    background-color: #ffffff;
    align-items: center;
    flex-direction: column;
}

h1{
    letter-spacing: 1px;
    font-family: Roboto;
    font-size: 24px;
    margin-left: 10px;
    font-weight: normal;
}

.view-message {
    height: 60px;
    width: 700px;
    resize: none;
    padding: 20px;
}

.write-message {
    height: 150px;
    width: 500px;
    resize: none;
    margin: 10px;
}